name: .NET Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    # 環境変数の定義
    env:
      BUILD_CONFIG: Release

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        include-preview: true

    - name: Restore dependencies
      run: dotnet restore VersionInfoAppSolution.sln

    - name: Build
      # ドット (.) を使用します
      run: dotnet build VersionInfoAppSolution.sln --no-restore --configuration ${{ env.BUILD_CONFIG }}

    - name: Run tests
      # ドット (.) を使用します
      run: dotnet test VersionInfoAppSolution.sln --no-build --configuration ${{ env.BUILD_CONFIG }} --verbosity normal